@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap');

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.body {
    overflow-x: hidden;
    position: relative;
}

.overflow-hiden {
    overflow: hidden;
}

.bg-body{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-6.jpg);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    -webkit-filter: brightness(1.1);
            filter: brightness(1.1);
}

.bg-body-dark{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url(../img/bg-10.avif);
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
}


.nav-hard-skills img {
    max-width: 100px;
    width: 5vw;
    min-width: 50px;
}

/**************************** header *******************************/

.header{
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 70px;
    position: fixed;
    z-index: 9;
    -webkit-filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.495));
            filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.495));
}

.header-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100%;
    width: 90%;
}

.header-nav-mobile {
    width: 0%;
    height: 90vh;
    position: fixed;
    z-index: 7;
    right: 0;
    top: 0;
    -webkit-filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.4));
            filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0, 0.4));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: 0.3s all;
    -o-transition: 0.3s all;
    transition: 0.3s all;
    
}

.text-gray{
    color: rgb(220, 220, 220) !important;
}

.cross {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
            transform: scale(0.3);
    cursor: pointer;
    background-color: transparent;
}

.cross-svg{
    fill:rgb(179, 179, 179)
}

.cross:hover .cross-svg{
    fill: rgb(0, 0, 0);
}

.width-50{
    width: 60%;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
}

.header-nav-div-logo{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 30px;
    font-weight: bold;
}

.header-nav-ul{
    display: none;
}

.header-nav-ul-mobile{
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
}

.header-nav-ul-li-mobile{
    list-style: none;
    position: relative;
    height: 15vh;
    width: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(0deg) scale(0.8);
    --fill: black;
}

.arrow-nav-mobile{
    fill: var(--fill);
    -webkit-transform: var(--transform);
        -ms-transform: var(--transform);
            transform: var(--transform);
    -webkit-transition: 0.3s -webkit-transform;
    transition: 0.3s -webkit-transform;
    -o-transition: 0.3s transform;
    transition: 0.3s transform;
    transition: 0.3s transform, 0.3s -webkit-transform;
    display: inline;
    position: absolute;
    right: 15px;
    margin-right: 3vw;
}

.arrow-nav-mobile-dark{
    fill: rgb(220, 220, 220)
}

.arrow-nav-mobile-polygon{
    -webkit-transform: rotate(90deg) scale(0.8);
        -ms-transform: rotate(90deg) scale(0.8);
            transform: rotate(90deg) scale(0.8);
    fill: white;
}

.header-nav-ul-li-mobile:hover{
    --fill: white;
    cursor: pointer;
}

.header-nav-ul-li-a-mobile{
    color: black;
    text-decoration: none;
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header-nav-ul-li-a-mobile:hover{
    color: rgb(255, 255, 255) !important;
    background-color: gray;
}

.ul-inside-mobile{
    list-style: none;
    padding: 0;
    -webkit-clip-path: var(--clip);
            clip-path: var(--clip);
    -webkit-transition: -webkit-clip-path 0.3s;
    transition: -webkit-clip-path 0.3s;
    -o-transition: clip-path 0.3s;
    transition: clip-path 0.3s;
    transition: clip-path 0.3s, -webkit-clip-path 0.3s;
    position: absolute;
    z-index: 8;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    display: block;
    background-color: rgb(180, 231, 231);
}

.ul-inside-mobile-dark{
    background-color: rgb(33, 54, 54);
}

.ul-inside-mobile-polygon{
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}


.drop-cv:hover{
    color: white;
    background-color: gray;
}

.drop-cv:hover .drop-cv{
    color: white;
    background-color: gray;
}

.drop-cv-active{
    color: white !important;
    background-color: gray;
}

.ul-inside-li-a-mobile{
    padding: 3vh;
}

.ul-inside-li-a-mobile:hover{
    cursor: pointer;
    background-color: gray;
}

.nav-hamburger {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px;
    cursor: pointer;
}

.nav-hamburger:hover .nav-hamburger-img {
    fill: gray;
}

.nav-hamburger-img {
    display: block;
    width: 30px
}

.nav-hamburger-img-dark {
    fill: rgb(221, 221, 221);
}


/**************************** main ********************************/

.pages{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100vw;
    margin: 30vh 0px 20vh 0px;
}

.page{
    position: absolute;
    border: 2px solid black;
    height: inherit;
    width: 90vw;
}

.translate-l{
    -webkit-transform: translateX(-45vw) scale(0.85) perspective(5000px) rotateY(-80deg);
            transform: translateX(-45vw) scale(0.85) perspective(5000px) rotateY(-80deg);
    -webkit-transition: 0.5s -webkit-transform;
    transition: 0.5s -webkit-transform;
    -o-transition: 0.5s transform;
    transition: 0.5s transform;
    transition: 0.5s transform, 0.5s -webkit-transform;
}

.not-translate{
    -webkit-transform: translateX(0) scale(1);
        -ms-transform: translateX(0) scale(1);
            transform: translateX(0) scale(1);
    -webkit-transition: 0.5s -webkit-transform;
    transition: 0.5s -webkit-transform;
    -o-transition: 0.5s transform;
    transition: 0.5s transform;
    transition: 0.5s transform, 0.5s -webkit-transform;
}

.translate-r{
    -webkit-transform: translateX(45vw) scale(0.85) perspective(5000px) rotateY(83deg);
            transform: translateX(45vw) scale(0.85) perspective(5000px) rotateY(83deg);
    -webkit-transition: 0.5s -webkit-transform;
    transition: 0.5s -webkit-transform;
    -o-transition: 0.5s transform;
    transition: 0.5s transform;
    transition: 0.5s transform, 0.5s -webkit-transform;
}

.z-index-1{
    z-index: 1;
}

.z-index-2{
    z-index: 2;
}

.z-index-3{
    z-index: 4;
}

.turn-page-mobile{
    position: sticky;
    bottom: 4vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 3vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 5;
    margin-bottom: 25px;
}

.turn-left-mobile, .turn-right-mobile{
    -webkit-transform: rotateX(-40deg);
            transform: rotateX(-40deg);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 10vw;
    height: 10vw;
}

.turn-left-mobile {
    -webkit-filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0));
            filter: drop-shadow(-10px 10px 10px rgba(0, 0, 0));
}

.turn-right-mobile{
    -webkit-filter: drop-shadow(10px 10px 10px rgba(0, 0, 0));
            filter: drop-shadow(10px 10px 10px rgba(0, 0, 0));
}

.turn-left-mobile:hover, .turn-right-mobile:hover{
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

.arrow-curved-left{
    -webkit-transform: rotate(90deg) rotateX(180deg);
            transform: rotate(90deg) rotateX(180deg);

}

.arrow-curved-right{
    -webkit-transform: rotate(90deg) ;
        -ms-transform: rotate(90deg) ;
            transform: rotate(90deg) ;
}

.arrow-curved-right svg, .arrow-curved-left svg{
    fill: rgba(205, 205, 205, 0.701);
}

.turn-left-mobile:hover .arrow-curved-left svg, .turn-right-mobile:hover .arrow-curved-right svg{
    fill: rgba(205, 205, 205);
}


.img-plus-name{
    margin: 120px 0px;
}

.img-profile {
    min-width: 150px;
    width: 15vw;
    max-width: 250px;
    min-height: 150px;
    height: 15vw;
    max-height: 250px;
}

/* .drop-shadow {
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.495));
} */

.bg-1 {
    background-image: url(../img/bg-4.jpg);
    background-size: cover;
    -webkit-filter: blur(0.2vw);
            filter: blur(0.2vw);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-1-dark {
    background-image: url(../img/bg-2.jpg);
    background-size: cover;
    -webkit-filter: blur(0.2vw);
            filter: blur(0.2vw);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-2 {
    background-image: url(../img/bg-11.jpg);
    background-size: cover;
    -webkit-filter: blur(0.2vw);
            filter: blur(0.2vw);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-2-dark {
    background-image: url(../img/bg-7.avif);
    background-size: cover;
    -webkit-filter: blur(0.2vw);
            filter: blur(0.2vw);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-3 {
    background-image: url(../img/bg-9.avif);
    background-size: cover;
    -webkit-filter: blur(0.2vw);
            filter: blur(0.2vw);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.bg-3-dark {
    background-image: url(../img/bg-8.avif);
    background-size: cover;
    -webkit-filter: blur(0.2vw);
            filter: blur(0.2vw);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.list-all-style {
    list-style: square inside;
}

.arrow svg{
    display: none;
}

.projects-container-grid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 80%;
    grid-template-columns: 80%;
    grid-auto-rows: 1fr 1fr 1fr 1fr;
    gap: 50px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    place-items: center;
    width: 100%;
    height: 78%;
    -ms-grid-rows: auto 50px auto 50px auto 50px auto;
        grid-template-areas: 
    "project-1" 
    "project-2"
    "project-3"
    "project-4";
}

.project {
    width: 100%;
    height: 100%;
    background-color: beige;
    max-width: 550px;
}

.project-dark {
    background-color: rgb(63, 63, 57);
}

.project-1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: project-1;
    
}

.project-2 {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: project-2;    
}

.project-3 {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: project-3;    
}
.project-4 {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
    grid-area: project-4;
}

.bg-project-mobile {
    width: 35%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.description{
    width: 65%;
    height: auto;
}

.bg-project-1 {
    display: none;
}

.bg-project-1-dark{
    display: none;
}

.bg-project-2 {
    display: none;
}

.bg-project-3 {
    display: none;
}

.bg-project-4 {
    display: none;
}

.bg-project-1-mobile {
    background-image: url(../img/project-portfolio-actual-mobile.JPG);
}

.bg-project-1-mobile-dark {
    background-image: url(../img/project-portfolio-actual-mobile-dark.JPG);
}

.bg-project-2-mobile {
    background-image: url(../img/project-animania-mobile.JPG);
}

.bg-project-3-mobile {
    background-image: url(../img/project-exam-front-1-mobile.JPG);
}

.bg-project-4-mobile {
    background-image: url(../img/project-buscandoSalud.jpg);
}

.filter-dark{
    -webkit-filter: brightness(0.8);
            filter: brightness(0.8);
}

.education{
    width: 100%;
    height: 60%;
    padding-top: 19px;
}

.education-centers{
    width: 30%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    text-align: center;
}

.education-center{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
}

.education-center img{
    width: 50px;
}


.timeline{
    border: solid 1px black;
    width: 1px;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.timeline-dark{
    border: solid 1px rgb(220, 220, 220);   
}

.point{
    width: 10px;
    height: 10px;
    background-color: black;
}

.point-dark{
    background-color: rgb(220, 220, 220);
}

.careers-names {
    width: 60%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}


.constancia-sembrando{
    position: absolute;
    width: 100vw;
    height: 120vh;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.608);
}

.link-constancia-sembrando{
    cursor: pointer;
}

.constancia-sembrando img{
    margin-top: 20vh;
    width: 50vw;
    min-width: 350px;
}

.fill-white{
    fill: rgb(179, 179, 179);
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
}

.fill-white:hover{
    cursor: pointer;
    fill: rgb(255, 255, 255);
}

/**************************** footer *******************************/

.footer {
    -webkit-filter: drop-shadow(0px -10px 10px rgba(0, 0, 0, 0.495));
            filter: drop-shadow(0px -10px 10px rgba(0, 0, 0, 0.495));
}

.svg-contact{
    width: 30px;
    height: auto;
}

.svg-contact-dark{
    fill: white;
}

.footer-a {
    cursor: pointer;
    text-decoration: none;
}

/**************************** media querys *******************************/

@media (min-width: 768px) {

    /* header */
    
    .nav-hamburger {
        display: none;
    }

    .header-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 90%;
        height: 100%;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .header-nav-ul{
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transition: 5s -webkit-transform;
        transition: 5s -webkit-transform;
        -o-transition: 5s transform;
        transition: 5s transform;
        transition: 5s transform, 5s -webkit-transform;
        margin-bottom: 0;
    }
    
    .header-nav-ul-li{
        list-style: none;
        position: relative;
        height: 100%;
        --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
        --transform: rotate(0deg) scale(0.8);
    }

    .arrow-nav{
        fill: var(--fill);
        -webkit-transform: var(--transform);
            -ms-transform: var(--transform);
                transform: var(--transform);
        -webkit-transition: 0.3s -webkit-transform;
        transition: 0.3s -webkit-transform;
        -o-transition: 0.3s transform;
        transition: 0.3s transform;
        transition: 0.3s transform, 0.3s -webkit-transform;
        margin-left: 10px;
    }

    .header-nav-ul-li:hover{
        --fill: white;
        --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        --transform: rotate(90deg) scale(0.8);
        cursor: pointer;
    }
    
    .header-nav-ul-li-a{
        color: black;
        text-decoration: none;
        padding: 0 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 100%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    
    .header-nav-ul-li-a:hover{
        color: white !important;
        background-color: gray;
    }
    
    .ul-inside{
        list-style: none;
        padding: 0;
        -webkit-clip-path: var(--clip);
                clip-path: var(--clip);
        -webkit-transition: -webkit-clip-path 0.3s;
        transition: -webkit-clip-path 0.3s;
        -o-transition: clip-path 0.3s;
        transition: clip-path 0.3s;
        transition: clip-path 0.3s, -webkit-clip-path 0.3s;
        position: absolute;
        z-index: 6;
        left: 0;
        bottom: 0;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        -webkit-transform: translateY(100%);
            -ms-transform: translateY(100%);
                transform: translateY(100%);
        background-color: rgb(180, 231, 231);
    }

    .ul-inside-dark{
        background-color: rgb(33, 54, 54);
    }

    .ul-inside-li-a{
        padding: 30px 100px 30px 20px;
    }

    .ul-inside-li-a:hover{
        cursor: pointer;
        background-color: gray;
    }

    .drop-cv-monitor:not(:hover) .arrow-nav{
        fill:black;
    }

    .arrow-nav-dark{
        fill: rgb(220, 220, 220) !important;
    }

    .header-nav-mobile {
        display: none;
        
    }

    /* main */

    .page{
        width: 65vw;
        max-width: 1500px;
        min-width: 600px;
    }

    .turn-page-mobile{
        display: none;
    }

    .turn-page{
        position: absolute;
        top: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        width: 100%;
        height: 100%;
        z-index: 3;
    }
    
    .turn-left, .turn-right{
        width: 35vw;
    }
    
    .turn-left {
        -webkit-transform: translateX(-10vw) scale(0.95) perspective(5000px) rotateY(-60deg);
                transform: translateX(-10vw) scale(0.95) perspective(5000px) rotateY(-60deg);  
        background: -webkit-gradient(linear, left top, right top, from(rgb(90, 90, 90)), to(rgba(0, 0, 0, 0.0)));  
        background: -o-linear-gradient(left, rgb(90, 90, 90)0%, rgba(0, 0, 0, 0.0) 100%);  
        background: linear-gradient(90deg, rgb(90, 90, 90)0%, rgba(0, 0, 0, 0.0) 100%);
    }
    
    .turn-left:hover, .turn-right:hover{
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
    
    .turn-right{
        -webkit-transform: translateX(10vw) scale(0.95) perspective(5000px) rotateY(60deg);
                transform: translateX(10vw) scale(0.95) perspective(5000px) rotateY(60deg);
        background: -webkit-gradient(linear, right top, left top, from(rgb(90, 90, 90)), to(rgba(0, 0, 0, 0.0)));
        background: -o-linear-gradient(right, rgb(90, 90, 90) 0%, rgba(0, 0, 0, 0.0) 100%);
        background: linear-gradient(-90deg, rgb(90, 90, 90) 0%, rgba(0, 0, 0, 0.0) 100%);
    }

    .arrow{
        position: sticky;
        margin: 20vh 0vw 20vh 15vw;
        top: 50vh;
    }
    
    .arrow svg{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-transform: scale(2);
            -ms-transform: scale(2);
                transform: scale(2);
    }
    
    .arrow-left{
        margin: 20vh 15vw 20vh 0vw;
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }

    .turn-left:hover .arrow-left svg, .turn-right:hover .arrow svg{
        fill: rgba(205, 205, 205);
    }

    .translate-l{
        -webkit-transform: translateX(-43vw) scale(0.7) perspective(5000px) rotateY(-75deg);
                transform: translateX(-43vw) scale(0.7) perspective(5000px) rotateY(-75deg);
        -webkit-transition: 0.5s -webkit-transform;
        transition: 0.5s -webkit-transform;
        -o-transition: 0.5s transform;
        transition: 0.5s transform;
        transition: 0.5s transform, 0.5s -webkit-transform;
    }
    
    .not-translate{
        -webkit-transform: translateX(0) scale(1);
            -ms-transform: translateX(0) scale(1);
                transform: translateX(0) scale(1);
        -webkit-transition: 0.5s -webkit-transform;
        transition: 0.5s -webkit-transform;
        -o-transition: 0.5s transform;
        transition: 0.5s transform;
        transition: 0.5s transform, 0.5s -webkit-transform;
    }
    
    .translate-r{
        -webkit-transform: translateX(42vw) scale(0.7) perspective(5000px) rotateY(75deg);
                transform: translateX(42vw) scale(0.7) perspective(5000px) rotateY(75deg);
        -webkit-transition: 0.5s -webkit-transform;
        transition: 0.5s -webkit-transform;
        -o-transition: 0.5s transform;
        transition: 0.5s transform;
        transition: 0.5s transform, 0.5s -webkit-transform;
    }


}

@media (min-width: 1200px) {
    .bg-3 {
        background-position-y: -15vw;
        
    }

    .projects-container-grid{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 40% 50px 40%;
        grid-template-columns: 40% 40%;
        grid-auto-rows: auto;
        gap: 50px;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 100%;
        height: 78%;
        -ms-grid-rows: auto 50px auto 50px auto;
            grid-template-areas: 
        "project-1 project-2"
        "project-3 project-4"
        "project-5 project-5";
    }
    .project-5 {
        grid-area: project-5;
    }

    .project {
        width: 100%;
        height: 100%;
        max-width: 100%;
    }

    .description{
        width: auto;
        height: 65%;
    }

    .bg-project {
        width: 100%;
        height: 35%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .bg-project-1 {
        display: block;
        background-image: url(../img/project-portfolio-actual.JPG);
    }
    
    .bg-project-1-dark{
        display: block;
        background-image: url(../img/project-portfolio-actual-dark.JPG);
    }

    .bg-project-2 {
        display: block;
        background-image: url(../img/project-animania.JPG);
    }
    
    .bg-project-3 {
        display: block;
        background-image: url(../img/project-exam-front-1.JPG);
    }
    
    .bg-project-4 {
        display: block;
        background-image: url(../img/project-buscandoSalud.jpg);
    }

    .bg-project-1-mobile {
        display: none;
    }
    
    .bg-project-1-mobile-dark {
        display: none;
    }
    
    .bg-project-2-mobile {
        display: none;
    }
    
    .bg-project-3-mobile {
        display: none;
    }
    
    .bg-project-4-mobile {
        display: none;
    }

    .project-1{
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    .project-2{
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }

    .project-3{
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    .project-4{
        -ms-grid-row: 3;
        -ms-grid-column: 3;
    }
    
}

@media (min-width: 1200px){

    .project-5{
        -ms-grid-row: 5;
        -ms-grid-column: 1;
        -ms-grid-column-span: 3;
    }
}

@media (min-width: 1600px) {
    .bg-3 {
        background-position-y: -20vw;
    }
}